@font-face {
	font-family: "Open Sans";
	src: url(../fonts/opensans.woff2) format("woff2"),
		url(../fonts/opensans.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: url(../fonts/opensanslight.woff2) format("woff2"),
		url(../fonts/opensanslight.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url(../fonts/gilroylight.woff2) format("woff2"),
		url(../fonts/gilroylight.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url(../fonts/gilroyextrabold.woff2) format("woff2"),
		url(../fonts/gilroyextrabold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}

@-webkit-keyframes search-bigger-line {
	0% {
		width: 0;
	}
	
	100% {
		width: 356px;
	}
}

@keyframes search-bigger-line {
	0% {
		width: 0;
	}
	
	100% {
		width: 356px;
	}
}

body {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	min-width: 1200px;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	font-family: "Open Sans", "Helvetica", sans-serif;
	color: #464646;
}

.upper-link {
	font-weight: bold;
	font-size: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	line-height: 20px;
	letter-spacing: 4px;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}

.lower-link {
	font-weight: bold;
	font-size: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	line-height: 16px;
	letter-spacing: 4px;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}

.header-one {
	margin-top: 54px;
	margin-bottom: 32px;
	font-weight: bold;
	font-size: 47px;
	line-height: 47px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 2px;
	color: black;
}

.header-two {
	font-weight: bold;
}

.visually-hidden {
	position: absolute;
	margin: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

/*Хедер*/
.main-header {
	position: relative;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 24px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
	background-color: #f7e296;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.index-header {
	margin-bottom: 481px;
	min-height: 298px;
}

.page-header {
	padding-bottom: 49px;
	min-height: 135px;
}

.main-header .logo-picture {
	position: absolute;
	top: -18px;
}

.main-header .logo:hover {
	opacity: 0.6;
}

.main-header .logo:active {
	opacity: 0.3;
}

.main-header .user-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 39px;
	padding-top: 0;
}

.search-wrapper {
	position: relative;
	padding-left: 40px;
}

.search-wrapper::before {
	content: "";
	position: absolute;
	top: 11px;
	left: 5px;
	width: 16px;
	height: 16px;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
}

.search-wrapper .search-button {
	position: absolute;
	top: -14px;
	right: -245px;
	width: 85px;
	height: 49px;
	background-color: transparent;
	border: 2px solid black;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.search-wrapper .search-button::before {
	content: "";
	position: absolute;
	top: 45px;
	left: -356px;
	width: 356px;
	height: 2px;
	background-color: black;
}

.search-wrapper .search-button:hover {
	background-color: black;
	color: white;
}

.search-wrapper .search-button:active {
	background-color: black;
	color: rgba(255, 255, 255, 0.3);
}

.search-field:focus + .search-button::before {
	-webkit-animation-name: search-bigger-line;
			animation-name: search-bigger-line;
	-webkit-animation-duration: 0.5s;
			animation-duration: 0.5s;
	-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
}

.search-wrapper .search-field {
	height: 36px;
	font-size: 15px;
	line-height: 36px;
	font-family: inherit;
	background-color: #f7e296;
	border: 0;
	opacity: 0.3;
}

.search-wrapper .search-field:hover {
	opacity: 0.6;
}

.search-field:focus + .search-button {
	opacity: 1;
}

.user-block .login,
.user-block .comparison,
.user-block .basket {
	position: relative;
	padding-left: 22px;
}

.user-block-right a:hover,
.menu-list a:hover {
	opacity: 0.6;
}

.user-block-right a:active,
.menu-list a:active {
	opacity: 0.3;
}

.user-block .login::before,
.user-block .comparison::before,
.user-block .basket::before {
	content: "";
	position: absolute;
}

.login-hidden::before,
.user-block .login::before {
	top: 5px;
	left: 0;
	width: 13px;
	height: 12px;
	background-image: url(../img/user.svg);
	background-repeat: no-repeat;
}

.user-block .comparison::before {
	top: 5px;
	left: 0;
	width: 10px;
	height: 10px;
	background-image: url(../img/compare.svg);
	background-repeat: no-repeat;
}

.user-block .basket::before {
	top: 4px;
	left: 0;
	width: 12px;
	height: 12px;
	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
}

.user-block a {
	line-height: 36px;
	text-decoration: none;
	color: #464646;
}

.user-block .user-block-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	width: 500px;
}

.user-block-right .login {
	padding-left: 28px;
}

.login-hidden,
.profile-hidden {
	position: relative;
	display: none;
}

.user-block-right .logout {
	display: none;
	margin-left: 18px;
	opacity: 0.3;
}

.logout-show {
	display: inline-block;
	vertical-align: top;
	margin-left: 18px;
	opacity: 0.3;
}

.items-block a {
	margin-left: 37px;
}

.main-menu {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

.main-menu .catalog-link {
	text-decoration: none;
	color: black;
}

.main-header .menu-list {
	padding-left: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

.main-menu .info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: -7px;
}

.info .delivery-and-warranty {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 105px;
}

.delivery-and-warranty a {
	margin-right: 32px;
}

.delivery-and-warranty a:last-child {
	margin-right: 0;
}

.menu-list .plus-menu {
	position: absolute;
	top: -5px;
	left: 220px;
	padding-left: 10px;
	font-weight: normal;
	font-size: 32px;
	line-height: 32px;
	opacity: 0.3;
}

.main-menu .sub-menu {
	position: absolute;
	z-index: 100;
	left: -60px;
	display: none;
	padding-top: 30px;
	padding-left: 80px;
	width: 1080px;
	min-height: 134px;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	font-family: "Open Sans", "Helvetica", sans-serif;
	list-style: none;
	letter-spacing: 0;
	text-transform: none;
	color: #464646;
	background-color: #f7e296;
}

.menu-list > li:hover .sub-menu {
	display: block;
}

.sub-menu .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sub-menu .column {
	margin-right: 60px;
}

.sub-menu a {
	display: block;
	margin-bottom: 5px;
	text-decoration: none;
	color: #464646;
}

/*Главная страница*/
.main-page {
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
}

.promo {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.sliders {
	position: absolute;
	top: -598px;
	left: 110px;
	margin-top: 6px;
}

.sliders::before {
	content: "";
	position: absolute;
	top: 38px;
	left: 510px;
	width: 100px;
	height: 7px;
	background-color: white;
}

.promo-item {
	display: none;
	min-height: 497px;
}

input[name*="toggle"] {
	display: none;
}

.slider-controls .slider {
	position: absolute;
	z-index: 100;
	top: 328px;
	width: 10px;
	height: 10px;
	border: 1px solid black;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .sliders label[for="btn-1"],
#btn-2:checked ~ .sliders label[for="btn-2"],
#btn-3:checked ~ .sliders label[for="btn-3"] {
	top: 331px;
	margin-left: 3px;
	width: 4px;
	height: 4px;
	border: 1px solid black;
	-webkit-box-shadow: 0 0 0 2px white,
				0 0 0 3px black;
			box-shadow: 0 0 0 2px white,
				0 0 0 3px black;
}

#btn-1:checked ~ .sliders .promo-one,
#btn-2:checked ~ .sliders .promo-two,
#btn-3:checked ~ .sliders .promo-three {
	display: block;
}

.slider-1 {
	left: 910px;
}

.slider-2 {
	left: 943px;
}

.slider-3 {
	left: 976px;
}

.promo-text .number {
	position: absolute;
	top: -12px;
	left: 840px;
	font-weight: bold;
	font-size: 179.2px;
	font-family: "Gilroy", "Arial", sans-serif;
	line-height: 179.2px;
	letter-spacing: 3px;
	color: white;
}

.promo-text .inline-right {
	position: absolute;
	top: 79px;
	left: 510px;
}

.promo-text b {
	display: block;
	margin-bottom: 20px;
	min-width: 560px;
	font-weight: bold;
	font-size: 47px;
	line-height: 56px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.5px;
	color: black;
}

.promo-text p {
	padding: 0;
	margin: 0;
	width: 480px;
	letter-spacing: 0.1px;
}

.promo-text .upper-link {
	position: absolute;
	display: inline-block;
	vertical-align: top;
	top: 247px;
	padding-left: 43px;
}

.promo-text .upper-link::after {
	content: "";
	position: absolute;
	top: 6px;
	left: 0;
	z-index: -1;
	width: 220px;
	height: 8px;
	background-color: #f0c52e;
}

.promo-text .upper-link:hover::after {
	top: -11px;
	height: 40px;
	-webkit-transition-duration: 0.2s;
		 -o-transition-duration: 0.2s;
			transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
		 -o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
}

.promo-text .upper-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.promo-item .promo-details {
	position: relative;
	top: -89px;
	left: 509px;
	min-width: 445px;
	max-width: 560px;
}

.promo-details td {
	padding: 0;
	display: inline-block;
	vertical-align: top;
	width: 160px;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;
}

.promo-details td:last-child {
	margin-right: 0;
}

.promo-details .less-width {
	width: 139px;
}

.bigger-text td {
	padding: 0;
	font-weight: normal;
	font-size: 36px;
	line-height: 40px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: black;
}

.promo-three .picture {
	position: relative;
	top: 70px;
	left: -50px;
}

.promo-three .promo-details {
	top: 65px;
}

.products-index {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
}

.products-index .products-group {
	margin-right: 40px;
	margin-bottom: 185px;
	width: 160px;
}

.products-index .products-group:last-child {
	margin-right: 0;
}

.products-group .product-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-bottom: 38px;
	width: 160px;
	height: 160px;
	background-color: #f7e296;
}

.products-group:nth-of-type(2) .product-img {
	-webkit-box-align: end;
		-ms-flex-align: end;
			align-items: flex-end;
}

.products-group .product-name {
	position: relative;
	display: block;
	margin-top: 0;
	padding-top: 198px;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	font-family: "Gilroy", "Arial", sans-serif;
	text-decoration: none;
	color: black;
}

.products-group .product-name::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background-color: #f7e296;
}

.products-group .group-1::before {
	background-image: url(../img/popular-1.svg);
	background-repeat: no-repeat;
	background-position: 50%;
}

.products-group .group-2::before {
	background-image: url(../img/popular-2.svg);
	background-repeat: no-repeat;
	background-position: 50% 100%;
}

.products-group .group-3::before {
	background-image: url(../img/popular-3.svg);
	background-repeat: no-repeat;
	background-position: 50%;
}

.products-group .group-4::before {
	background-image: url(../img/popular-4.svg);
	background-repeat: no-repeat;
	background-position: 50%;
}

.products-group .group-5::before {
	background-image: url(../img/popular-5.svg);
	background-repeat: no-repeat;
	background-position: 50%;
}

.products-group .group-6::before {
	background-image: url(../img/popular-6.svg);
	background-repeat: no-repeat;
	background-position: 50%;
}

.product-name:hover::before {
	background-color: #f0c52e;
}

.product-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.products-group .group-1:active::before {
	background-image: url(../img/popular-1.2.svg);
}

.products-group .group-2:active::before {
	background-image: url(../img/popular-2.2.svg);
}

.products-group .group-3:active::before {
	background-image: url(../img/popular-3.2.svg);
}

.products-group .group-4:active::before {
	background-image: url(../img/popular-4.2.svg);
}

.products-group .group-5:active::before {
	background-image: url(../img/popular-5.2.svg);
}

.products-group .group-6:active::before {
	background-image: url(../img/popular-6.2.svg);
}

.service {
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
	min-height: 288px;
	background-color: #e5e5e5;
}

.service-wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.service-menu {
	position: relative;
	z-index: 100;
	margin: 0;
	margin-left: 20px;
	margin-top: -20px;
	margin-right: 7px;
}

.service-menu-list {
	margin: 0;
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	width: 300px;
	list-style: none;
}

.service-menu-list::after {
	content: "";
	position: absolute;
	top: -80px;
	right: 15px;
	width: 7px;
	height: 319px;
	background-color: black;
}

.service-menu-item {
	position: relative;
	margin-bottom: 22px;
	padding: 11px 20px;
}

.guarantee-label {
	padding-left: 25px;
}

.credit-label {
	padding-left: 37px;
}

.delivery-label::before,
.guarantee-label::before,
.credit-label::before {
	content: "";
	position: absolute;
	z-index: -2;
	top: 17px;
	left: 0;
	width: 160px;
	height: 8px;
	background-color: #f0c52e;
}

.delivery-label:hover::before,
.guarantee-label:hover::before,
.credit-label:hover::before {
	top: 0;
	height: 40px;
	-webkit-transition-duration: 0.2s;
		 -o-transition-duration: 0.2s;
			transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
		 -o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
}

.delivery-label:active,
.guarantee-label:active,
.credit-label:active {
	color: #f7e184;
}

.delivery-label:active::before,
.guarantee-label:active::before,
.credit-label:active::before {
	z-index: -1;
	width: 278px;
	background-color: black;
	-webkit-transition-duration: 0.2s;
		 -o-transition-duration: 0.2s;
			transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
		 -o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
}

.delivery-label::after,
.guarantee-label::after,
.credit-label::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: none;
	width: 278px;
	height: 40px;
	background-color: black;
}

.service-slider {
	margin-top: -20px;
	padding-left: 95px;
}

.delivery-service,
.guarantee-service,
.credit-service {
	position: relative;
	display: none;
}

.delivery-service::after,
.guarantee-service::after,
.credit-service::after {
	content: "";
	position: absolute;
}

.delivery-service::after {
	top: 5px;
	right: -690px;
	width: 136px;
	height: 164px;
	background-image: url(../img/delivery.svg);
	background-repeat: no-repeat;
}

.guarantee-service::after {
	top: -22px;
	right: -690px;
	width: 171px;
	height: 195px;
	background-image: url(../img/warranty.svg);
	background-repeat: no-repeat;
}

.credit-service::after {
	top: -22px;
	right: -690px;
	width: 156px;
	height: 188px;
	background-image: url(../img/credit.svg);
	background-repeat: no-repeat;
}

#btn-4:checked ~ .service-menu label[for="btn-4"],
#btn-5:checked ~ .service-menu label[for="btn-5"],
#btn-6:checked ~ .service-menu label[for="btn-6"] {
	color: #f7e184;
}

#btn-4:checked ~ .service-slider .delivery-service,
#btn-4:checked ~ .service-menu .delivery-label::after,
#btn-5:checked ~ .service-slider .guarantee-service,
#btn-5:checked ~ .service-menu .guarantee-label::after,
#btn-6:checked ~ .service-slider .credit-service,
#btn-6:checked ~ .service-menu .credit-label::after {
	display: block;
}

.delivery-service .header-two,
.guarantee-service .header-two,
.credit-service .header-two {
	position: absolute;
	top: -5px;
	margin: 0;
	font-weight: bold;
	font-size: 47px;
	line-height: 47px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: black;
}

.delivery-service .service-text,
.guarantee-service .service-text,
.credit-service .service-text {
	position: absolute;
	top: 72px;
	margin: 0;
	width: 437px;
}

.partners {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 95px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 1160px;
}

.partner {
	position: relative;
	opacity: 0.2;
}

.partner-one::before,
.partner-two::before,
.partner-three::before,
.partner-four::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 260px;
	height: 100px;
	opacity: 0;
}

.partner-one::before {
	background-image: url(../img/logo-1.jpg);
}

.partner-two::before {
	background-image: url(../img/logo-2.jpg);
}

.partner-three::before {
	background-image: url(../img/logo-3.jpg);
}

.partner-four::before {
	background-image: url(../img/logo-4.jpg);
}

.partner:hover,
.partner:hover::before {
	opacity: 1;
}

.information {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 77px;
	margin-bottom: 92px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
	width: 1200px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.information .header-two {
	position: relative;
	margin-top: 59px;
	margin-bottom: 43px;
	font-size: 47px;
	line-height: 47px;
	font-family:  "Gilroy", "Arial", sans-serif;
	color: black;
}

.information .header-two::before {
	content: "";
	position: absolute;
	top: -53px;
	left: 0;
	width: 80px;
	height: 7px;
	background-color: black;
}

.about-us p {
	margin-top: 0;
	margin-bottom: 30px;
	width: 500px;
}

.contacts p {
	margin-top: 0;
	margin-bottom: 40px;
}

.contacts .map {
	margin-bottom: 69px;
	cursor: pointer;
}

.information .companies-partners {
	margin: 0;
	margin-top: 65px;
	margin-bottom: 65px;
	padding-left: 34px;
	list-style: none;
}

.companies-partners li {
	position: relative;
	font-weight: bold;
	font-size: 16px;
	line-height: 40px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: black;
}

.companies-partners li::before {
	content: "";
	position: absolute;
	top: 14px;
	left: -34px;
	width: 5px;
	height: 5px;
	border: 3px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
}

.information .about-us {
	margin-right: 123px;
	width: 475px;
}

.information .contacts {
	position: relative;
	width: 560px;
}

.popup {
	position: absolute;
	z-index: 100;
	top: 1865px;
	left: 50%;
	margin-left: calc(-990px/2);
	-webkit-transform: scale(0);
		-ms-transform: scale(0);
			transform: scale(0);
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.contacts .big-map {
	border: none;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
			box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.popup .cross {
	position: absolute;
	z-index: 120;
	top: 15px;
	right: 15px;
	width: 55px;
	height: 0;
	padding-top: 55px;
	overflow: hidden;
	background-color: transparent;
	background-image: url(../img/modal-close.svg);
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
	opacity: 0.5;
}

.popup .cross:hover {
	opacity: 1;
}

.popup .cross:active {
	opacity: 0.2;
}

.making-bigger-map {
	-webkit-transform: scale(1);
		-ms-transform: scale(1);
			transform: scale(1);
}

.about-us .upper-link {
	position: relative;
	display: block;
	padding-left: 23px;
	letter-spacing: 4px;
}

.contacts .upper-link {
	position: relative;
	display: block;
	padding-left: 40px;
	letter-spacing: 4px;
}

.information .upper-link::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 7px;
	left: 0;
	width: 260px;
	height: 8px;
	background-color: #f0c52e;
}

.about-us .upper-link:hover::after,
.contacts .upper-link:hover::after {
	top: -11px;
	height: 40px;
	-webkit-transition-duration: 0.2s;
		 -o-transition-duration: 0.2s;
			transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
		 -o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
}

.about-us .upper-link:active,
.contacts .upper-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.feedback-form {
	position: fixed;
	top: 14vh;
	left: 50%;
	z-index: 200;
	margin-left: calc(-947px/2);
	padding-left: 100px;
	padding-top: 97px;
	padding-bottom: 93px;
	width: 860px;
	height: 363px;
	background-color: white;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
			box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(0);
		-ms-transform: scale(0);
			transform: scale(0);
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	transition: -webkit-transform 0.2s ease-in-out;
	-o-transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.feedback-form-show {
	-webkit-transform: scale(1);
		-ms-transform: scale(1);
			transform: scale(1);
}

.write-us {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
}

.write-us .inline-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.inline-top .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	margin-right: 40px;
}

.feedback-form .form-label {
	padding: 0;
	margin-bottom: 14px;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	font-family:  "Gilroy", "Arial", sans-serif;
	color: #000000;
}

.feedback-form .message-label {
	margin-top: 37px;
}

.feedback-form .feedback-field {
	padding-left: 21px;
	width: 339px;
	height: 50px;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	font-family:  "Open Sans", "Helvetica", sans-serif;
	color: rgba(70, 70, 70, 0.4);
	border: 0;
	background-color: rgba(229, 229, 229, 0.5);
}

.feedback-form .message-feedback {
	padding-left: 21px;
	padding-top: 18px;
	margin-bottom: 54px;
	width: 739px;
	height: 138px;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	font-family:  "Open Sans", "Helvetica", sans-serif;
	color: rgba(70, 70, 70, 0.4);
	border: 0;
	background-color: rgba(229, 229, 229, 0.5);
}

.feedback-form .feedback-field::-moz-placeholder {
	font-size: 14px;
	line-height: 18px;
	font-family:  "Open Sans", "Helvetica", sans-serif;
	color: rgba(70, 70, 70, 0.4);
}

.feedback-form .message-feedback::-moz-placeholder {
	font-size: 14px;
	line-height: 18px;
	font-family:  "Open Sans", "Helvetica", sans-serif;
	color: rgba(70, 70, 70, 0.4);
}

.feedback-form .feedback-field::-webkit-input-placeholder {
	font-size: 14px;
	line-height: 18px;
	font-family:  "Open Sans", "Helvetica", sans-serif;
	color: rgba(70, 70, 70, 0.4);
}

.feedback-form .message-feedback::-webkit-input-placeholder {
	font-size: 14px;
	line-height: 18px;
	font-family:  "Open Sans", "Helvetica", sans-serif;
	color: rgba(70, 70, 70, 0.4);
}

.feedback-form .feedback-field:focus::-moz-placeholder {
	font-size: 14px;
	line-height: 18px;
	font-family:  "Open Sans", "Helvetica", sans-serif;
	color: rgba(70, 70, 70, 1);
}

.feedback-form .message-feedback:focus::-moz-placeholder {
	font-size: 14px;
	line-height: 18px;
	font-family:  "Open Sans", "Helvetica", sans-serif;
	color: rgba(70, 70, 70, 1);
}

.feedback-form .feedback-field:focus::-webkit-input-placeholder {
	font-size: 14px;
	line-height: 18px;
	font-family:  "Open Sans", "Helvetica", sans-serif;
	color: rgba(70, 70, 70, 1);
}

.feedback-form .message-feedback:focus::-webkit-input-placeholder {
	font-size: 14px;
	line-height: 18px;
	font-family:  "Open Sans", "Helvetica", sans-serif;
	color: rgba(70, 70, 70, 1);
}

.feedback-form .feedback-field:hover,
.feedback-form .message-feedback:hover {
	background-color: rgba(229, 229, 229, 0.8);
}

.feedback-form .feedback-field:focus,
.feedback-form .message-feedback:focus {
	background-color: white;
	box-shadow: inset 0 0 0 3px rgba(240, 197, 46, 0.5);
	outline: 1px solid rgba(240, 197, 46, 0.5);
}

.feedback-form .feedback-field:invalid,
.feedback-form .message-feedback:invalid {
	background-color: rgba(237, 181, 181, 0.5);
}

.feedback-form .feedback-button {
	position: relative;
	border: 0;
	background-color: transparent;
	padding: 0;
	padding-left: 35px;
	cursor: pointer;
}

.feedback-form .feedback-button::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 7px;
	left: 0;
	width: 200px;
	height: 8px;
	background-color: #f0c52e;
}

.feedback-form .feedback-button:hover::after {
	top: -11px;
	height: 40px;
	-webkit-transition-duration: 0.2s;
		 -o-transition-duration: 0.2s;
			transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
		 -o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
}

.feedback-form .feedback-button:active {
	color: rgba(0, 0, 0, 0.3);
}

.cross-feedback {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 55px;
	height: 0;
	padding-top: 55px;
	overflow: hidden;
	background-color: transparent;
	background-image: url(../img/modal-close.svg);
	background-repeat: no-repeat;
	border: 0;
	opacity: 0.5;
	cursor: pointer;
}

.cross-feedback:hover {
	opacity: 1;
}

.cross-feedback:active {
	opacity: 0.2;
}

/*Каталог*/
.inner-page {
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.inner-page-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.inner-page .header-one,
.inner-page .breadcrumbs {
	padding-left: 80px;
}

.inner-page .header-one {
	margin-top: 40px;
	margin-bottom: 0;
	letter-spacing: 1px;
}

.breadcrumbs {
	margin-bottom: 40px;
	margin-top: 18px;
	list-style: none;
}

.breadcrumbs li {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.breadcrumbs li::after {
	content: "";
	position: absolute;
	top: 15px;
	right: 13px;
	width: 5px;
	height: 8px;
	background-image: url(../img/nav-arrow.svg);
	background-repeat: no-repeat;
}

.breadcrumbs li:last-child::after {
	background-image: none;
}

.breadcrumbs a {
	position: relative;
	margin-right: 35px;
	font-size: 14px;
	line-height: 36px;
	text-decoration: none;
	color: black;
	opacity: 0.3;
}

.breadcrumbs .active:hover,
.breadcrumbs .active:active {
	opacity: 0.3;
}

.breadcrumbs a:hover {
	opacity: 0.6;
}

.breadcrumbs a:active {
	opacity: 0.1;
}

.products-block {
	position: relative;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

.products-block::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	width: 972px;
	height: 69px;
	background-color: #efefef;
}

.products-block-wrapper {
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1200px;
}

.filter {
	position: relative;
	margin-left: auto;
	max-width: 468px;
	background-color: #efefef;
}

.filter::before {
	content: "";
	position: absolute;
	z-index: 1;
	height: 69px;
	width: 468px;
	top: 0;
	right: 0;
	background-color: #dddddd;
}

.filter::after {
	content: "";
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 468px;
	top: 0;
	right: 0;
	background-color: #efefef;
}

.filter-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	margin-left: auto;
	padding-left: 78px;
	width: 348px;
	height: 100%;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.filter-link {
	position: relative;
	z-index: 1;
	display: block;
	padding-top: 27px;
	padding-bottom: 96px;
}

.filter .price,
.filter .color,
.filter .bluetooth {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-bottom: 27px;
	margin-top: 15px;
	border: 0;
}

.filter .price {
	min-height: 93px;
}

.filter .filter-link::before,
.filter .filter-link::after,
.bluetooth div:first-of-type::after {
	content: "";
	position: absolute;
	left: 2px;
	width: 201px;
	height: 2px;
	background-color: black;
	border: 0;
}

.filter .filter-link::before {
	top: 139px;
}

.filter .filter-link::after {
	top: 280px;
}

.bluetooth div:first-of-type::after {
	top: -16px;
	left: 1px;
}

.filter-type {
	display: block;
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: black;
}

.filter-price {
	margin-bottom: 33px;
}

.filter-color {
	margin-bottom: 15px;
}

.filter-bluetooth {
	margin-bottom: 20px;
}

.range-controls {
	position: relative;
}

.range-controls .scale {
	position: relative;
	margin-bottom: 5px;
	margin-left: 0;
	width: 190px;
	height: 2px;
	background-color: #dbdbdb;
}

.scale .bar {
	position: absolute;
	top: 0;
	left: 5px;
	width: 104px;
	height: 2px;
	background-color: #91c92f;
}

.controller {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	border: 8px solid white;
	border-radius: 50%;
	background-color: #ababab;
	cursor: pointer;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
			box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.controller:active {
	top: -10px;
	border: 9px solid white;
}

.controller-left {
	left: -6px;
}

.controller-left:active {
	left: -8px;
}

.controller-right {
	left: 108px;
}

.controller-right:active {
	left: 104px;
}

.price-number {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	font-size: 14px;
	line-height: 22.27px;
	font-family: "Gilroy", "Arial", sans-serif;
	opacity: 0.2;
}

.price-min {
	margin-left: 0;
	margin-right: 61px;
}

.color .color-check,
.bluetooth input[type="radio"] {
	display: none;
}

.color .filter-check,
.bluetooth .filter-check {
	position: relative;
	display: block;
	padding-left: 40px;
	font-size: 14px;
	line-height: 40px;
	cursor: pointer;
}

.color-check + .filter-check::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 0;
	width: 30px;
	height: 26px;
	background-color: #efefef;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0;
}

.color-check:checked + .filter-check::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 26px;
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
	background-position: 0;
}

.color-check:hover + .filter-check::before,
.color-check:checked:hover + .filter-check::before {
	opacity: 0.6;
}

.color-check:active + .filter-check::before,
.color-check:checked:active + .filter-check::before {
	opacity: 1;
}

.filter .bluetooth {
	padding: 0;
	margin-top: 20px;
	margin-bottom: 40px;
}

.bluetooth-check + .filter-check::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 0;
	width: 18px;
	height: 18px;
	border: 4px solid #000000;
	border-radius: 50%;
}

.bluetooth-check:checked + .filter-check::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 8px;
	width: 2px;
	height: 2px;
	background-color: black;
	-webkit-box-shadow: 0 0 0 4px #ffffff, 
				0 0 0 8px #000000;
			box-shadow: 0 0 0 4px #ffffff, 
				0 0 0 8px #000000;
}

.bluetooth-check:hover + .filter-check::before,
.bluetooth-check:checked:hover + .filter-check::before {
	opacity: 0.6;
}

.bluetooth-check:active + .filter-check::before,
.bluetooth-check:checked:active + .filter-check::before {
	opacity: 1;
}

.filter .show {
	position: relative;
	z-index: 10;
	padding: 0;
	padding-left: 42px;
	width: 120px;
	border: 0;
	background-color: transparent;
	letter-spacing: 4px;
	cursor: pointer;
}

.filter .show::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 6px;
	left: 0;
	width: 200px;
	height: 8px;
	background-color: #f0c52e;
}

.filter .show:hover::before {
	top: -11px;
	height: 40px;
	-webkit-transition-duration: 0.2s;
		 -o-transition-duration: 0.2s;
			transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
		 -o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
}

.filter .show:active {
	color: rgba(0, 0, 0, 0.3);
}

.sorting {
	position: relative;
	max-width: 972px;
}

.sorting .sorting-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 72px;
	margin-right: auto;
	width: 852px;
	min-height: 69px;
	background-color: #efefef;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.sorting .lower-link {
	padding: 0;
	padding-top: 27px;
	margin-right: 48px;
}

.sorting .sorting-type {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	padding-top: 26px;
	margin: 0;
	margin-right: 23px;
	line-height: 16px;
	color: black;
	text-decoration: none;
	opacity: 0.3;
	cursor: pointer;
}

.sorting .sorting-type:hover {
	opacity: 0.6;
}

.sorting .sorting-type:active {
	opacity: 1;
}

.sorting .sorting-type.active,
.sorting .sorting-type.active:hover,
.sorting .sorting-type.active:active {
	opacity: 1;
	cursor: text;
}

.sorting .sorting-type:last-child {
	margin-right: 0;
}

.sorting .arrows {
	position: absolute;
	top: 27px;
	left: 790px;
	line-height: 9px;
}

.arrows .up,
.arrows .down {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	overflow: hidden;
	cursor: pointer;
}

.arrows .up {
	margin-right: 18px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 11px solid rgba(0, 0, 0, 0.2);
}

.arrows .up:hover {
	border-bottom-color: rgba(0, 0, 0, 0.4);
}

.arrows .up:active {
	border-bottom-color: rgba(0, 0, 0, 1);
}

.arrows .down {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 11px solid rgba(0, 0, 0, 1);
}

.products {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	padding-left: 72px;
	padding-top: 69px;
	max-width: 852px;
}

.products .product-item {
	position: relative;
	margin-right: 40px;
}

.product-item:hover .hover-layer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.products .product-item:nth-child(2n) {
	margin-right: 0;
}

.product-item .product-picture {
	position: relative;
	z-index: 0;
}

.product-item .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	margin-top: 27px;
	margin-bottom: 55px;
}

.product-item h2 {
	margin: 0;
	width: 254px;
}

.product-item .name {
	display: block;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	line-height: 19px;
	letter-spacing: 0;
	text-decoration: none;
	color: black;
}

.product-item .price {
	font-size: 16px;
	line-height: 20px;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0;
}

.new-product {
	position: absolute;
	top: 29px;
	right: 27px;
}

.hover-layer {
	position: absolute;
	z-index: 0;
	top: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	display: none;
	width: 360px;
	height: 380px;
	background-color: rgba(255, 255, 255, 0.7);
}

.hover-layer .upper-link {
	position: relative;
	display: block;
	margin-top: 45px;
	padding-left: 24px;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.hover-layer .upper-link::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 6px;
	left: -15px;
	width: 200px;
	height: 8px;
	background-color: #f0c52e;
}

.hover-layer .upper-link:hover::before {
	top: -11px;
	height: 40px;
	-webkit-transition-duration: 0.2s;
		 -o-transition-duration: 0.2s;
			transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
		 -o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
}

.hover-layer .upper-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.hover-layer .add-to-comparison {
	padding-left: 20px;
	margin-top: 10px;
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.5);
	background-color: transparent;
	border: 0;
	text-decoration: none;
	cursor: pointer;
}

.hover-layer .add-to-comparison:hover {
	color: rgba(0, 0, 0, 1);
}

.hover-layer .add-to-comparison:active {
	color: rgba(0, 0, 0, 0.2);
}

.products .pages {
	position: relative;
	top: -15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	margin-bottom: 58px;
	width: 760px;
	min-height: 70px;
	background-color: #efefef;
}

.pages .prev-page {
	padding: 27px 30px;
}

.pages .next-page {
	padding: 27px 23px;
}

.pages .prev-page:hover,
.pages .next-page:hover {
	background-color: #d9d9d9;
}

.pages .inactive:hover,
.pages .inactive:active {
	background-color: #efefef;
}

.pages .prev-page:active,
.pages .next-page:active {
	color: rgba(0, 0, 0, 0.3);
}

.pages .page-number {
	margin-right: 28px;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	color: black;
	text-decoration: none;
	opacity: 0.3;
}

.pages .page-number:hover {
	opacity: 0.6;
}

.pages .page-number:active {
	opacity: 1;
}

.page-number.active,
.page-number.active:hover,
.page-number.active:active {
	opacity: 1;
	cursor: text;
}

.pages .page-number:last-child {
	margin-right: 0;
}

/*Футер*/
.page-footer {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
	padding-top: 60px;
	padding-bottom: 64px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
	color: white;
	background-color: #464646;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.inner-footer {
	padding-top: 63px;
}

.footer-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.main-footer .footer-logo {
	margin-top: 5px;
}

.main-footer .footer-logo:hover,
.main-footer .footer-logo:active {
	opacity: 1;
}

.inner-footer .footer-logo:hover {
	opacity: 0.6;
}

.inner-footer .footer-logo:active {
	opacity: 0.3;
}

.page-footer .inline-left {
	position: relative;
}

.page-footer .inline-left::after {
	content: "";
	position: absolute;
	bottom: 22px;
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}

.main-footer .adress {
	padding: 0;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 75px;
}

.inner-footer .adress {
	padding: 0;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 75px;
}

.page-footer .inline-center {
	margin-left: 165px;
	margin-right: 35px;
}

.page-footer .footer-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	margin: 0;
	margin-top: 73px;
	margin-bottom: 62px;
	padding-left: 0;
	width: 420px;
	list-style: none;
}

.footer-menu .footer-link {
	color: white;
}

.footer-menu .footer-link:hover {
	opacity: 0.6;
}

.footer-menu .footer-link:active {
	opacity: 0.3;
}

.page-footer .social-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}

.social-icons .social-icon {
	margin-right: 15px;
	width: 40px;
	height: 0;
	overflow: hidden;
	padding-top: 38px;
	opacity: 0.3;
}

.social-icons .social-icon:hover {
	opacity: 0.6;
}

.social-icons .social-icon:active {
	opacity: 0.1;
}

.social-icons .social-icon:last-child {
	margin-right: 0;
}

.social-icons .fb {
	background-image: url(../img/fb.svg);
	background-repeat: no-repeat;
}

.social-icons .inst {
	background-image: url(../img/instagram.svg);
	background-repeat: no-repeat;
}

.social-icons .tw {
	background-image: url(../img/twitter.svg);
	background-repeat: no-repeat;
}

.page-footer .inline-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: end;
		-ms-flex-align: end;
			align-items: flex-end;
}

.footer-user-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	width: 325px;
}

.footer-user-block .footer-user-link {
	position: relative;
	margin-right: 43px;
	padding-left: 22px;
	line-height: 36px;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
}

.footer-user-block .footer-user-link:last-child {
	margin-right: 0;
}

.footer-user-block .footer-user-link:hover {
	color: rgba(255, 255, 255, 1);
}

.footer-user-block .footer-user-link:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-user-block .footer-logout-show::before,
.footer-user-block .footer-login::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 13px;
	height: 12px;
	background-image: url(../img/footer-user.svg);
	background-repeat: no-repeat;
}

.footer-user-block .footer-comparison::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 0;
	width: 10px;
	height: 10px;
	background-image: url(../img/footer-compare.svg);
	background-repeat: no-repeat;
}

.footer-user-block .footer-basket::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	width: 12px;
	height: 12px;
	background-image: url(../img/footer-cart.svg);
	background-repeat: no-repeat;
}

.footer-user-link:hover::before {
	opacity: 0.6;
}

.footer-user-link:active::before {
	opacity: 0.3;
}

.footer-user-block .footer-logout,
.footer-user-block .footer-login-hidden {
	position: relative;
	display: none;
}

.page-footer .phone {
	margin-top: 35px;
	margin-bottom: 63px;
	color: white;
	text-decoration: none;
}

.page-footer .copyright:hover {
	opacity: 0.6;
}

.page-footer .copyright:active {
	opacity: 0.3;
}